.upload-container
    #upload-input 
        display none
    .progress
        position absolute
        top 38px
        font-size .8rem
        color #62a1c2
        
    .upload-btn, .upload-tinypng-btn
    	display inline
    .upload-btn:hover
    	color green
    .upload-tinypng-btn:hover
    	color red