.published, .draft, .deleted 
	padding .5rem
	margin-bottom .5rem
	//color #FFFFFF !important
.published
	background rgba(56, 142, 106, 0.55)
.draft 
	background rgba(153, 153, 153, 0.33)
.deleted
	background rgba(255, 76, 0, 0.23)