.page_navigation
    position relative
    top calc(100% - 48px)
    text-align center
    height 48px
    background rgba(49, 61, 74, 0.64)
    font-family 'Material-Design-Iconic-Font'
    z-index 1
    
    a
        margin 0 .5rem
        color silver
        text-decoration none
        &:hover
            color white !important
        
    .active_page
        background #81D1F4
        color #757D85 !important
        border-radius 50%
        &:hover
            color #fff
            
    .page_link
        position relative
        top .5rem
        vertical-align middle
        padding 5px .5rem