.Post
    position relative
    height 100%
    overflow-y scroll
    -webkit-overflow-scrolling touch  
    color #666
    // padding-top 60px
    p 
        margin-bottom .5rem
    img
        // width 50%
        max-width 640px
        height auto
        float right
    a
        color #3281BF
        &:hover
            color orange
    ul
        li
            display inline
    .postHeader
        border-bottom 1px solid #e0e0e0
        display inline-block
        text-align right
        width 100%
        
        img.authorImage
            position absolute
            width 48px
            right 0
            margin 1.5rem
            background #fff
            padding 2px
            border-radius 50%
        img.postImage
            width 50%            
            padding 1rem 1rem 1rem 0
        .postDetails
            width 50%
            display inline-block
            min-width 240px
            padding 1rem
            .title, .description
                // font-weight bold
                // font-size 1.2rem
                text-align left
                padding 1rem 0
                
            .description
                font-weight normal
                margin 0 0 4% 0         
                padding 4% 0
                border-top 1px solid #e0e0e0 
                
            // .category a
            //     color #62A1C2
                
    .postContent 
        padding 1rem

.cm-s-runkit .CodeMirror-lines
    background-color #f0f0f0 !important

.controls
    border-bottom-left-radius 0 !important
    border-bottom-right-radius 0 !important
button.run-button
    border-bottom-right-radius 3pt !important
button.run.btn
    float right
    background #00c72b
    margin 0
    border-radius 0
    min-width 0
a.active
    background red

@media screen and (max-width: 480px)
    .postDetails
        width 100% !important
        padding 0 1rem 1rem !important
    .Post .postHeader img.postImage
        width 100%
        padding 1rem
    .Post .postHeader .postDetails .title
        margin 0
        padding 0
        text-align center
    .Post .postHeader .postDetails .description
        text-align center