.menu-right
    top 50px
    position absolute
    height 100%
    overflow hidden
    overflow-y scroll
    -webkit-overflow-scrolling touch
    padding-bottom 5em

.show-nav-right
    .main-container
        transform translateX(-280px)
        transform translate3d(-280px, 0, 0)
    .main-container > .Layout
        width calc(100% - 280px)
        right 0
// .Item
//     transition all .8s ease-in-out

.Sidebar-right
    position absolute
    width 280px
    height 100%
    padding .5em
    right -280px
    background-color #242E38
    z-index 1