ul.tabs
    color gray
    & li
        display inline-block
        margin 0 1rem 0 0
    & > li > a:hover 
        color orange
    & > li.active > a,
    & > li.active > a:hover,
    & > li.active > a:focus
        color #62a1c2