.price
    border-top 1px solid #e0e0e0
    padding 1rem
    margin 1rem 0
    text-align right

.postButton
    position relative
    border-radius 4px
    width 25%
    float right

ul.tabs.product
    padding 1rem 0
    
a.Item-addToCart.postButton
    color #fff
#tab-content, #tab-comments
    margin 1rem 0