.Payment
    &-form
        text-align center
        padding 1rem
        background whitesmoke
        min-width 320px
        
        input, textarea, select
            font-size 1rem
            padding .5rem
            margin 5px
            color #828080
        span
            display block
            
    &-card, &-name, &-email
        width 275px
        color #828080 !important
        
    &-cvc, &-year, &-month       
        width 85px
        color #d0d0d0
    &-coupon
        border-top 1px solid #F8F8F8
        border-bottom 1px solid #F8F8F8
        width 100%
        text-align right
        padding .5rem 1rem
        font-size 1rem
        color #d0d0d0
    &-terms
        padding-top 10px

.input-cart-number
    width calc(62px - 0.8px)
    display inline-block
    &::-moz-placeholder
        color #d0d0d0
    &::-webkit-input-placeholder
        color #d0d0d0

// @media screen and (max-width: 600px)   
// @media screen and (max-width: 480px)